@use "./defaults";
@use "@/app/(client)/scss/variables" as *;

main {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
   flex-direction: row;
  }

   @include breakpoint(large) {
      padding-inline: 20vw;
    }
  }

  #Home, #docs {
    @include breakpoint(medium) {
      width: 75%;
      padding-inline: 2vw;
    }

    @include breakpoint(large) {
       padding-inline: rem(20) 6vw;
    }
}


