@use "@/app/(client)/scss/variables" as *;

nav {
  gap: rem(10);
  position: sticky;
  top: rem(60);
  z-index: 10;
  background-color: $c-bg-50;
  backdrop-filter: blur(rem(4));
  border-bottom: $b-border;

  @include breakpoint(medium) {
    width: 25%;
   }

  button {
    width: 100%;
    @include full-width;
    margin-block: rem(5);
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
    }

    @include breakpoint(medium) {
      padding-inline: 2vw;
    }
  }

  .menu {
    position: fixed;
    background-color: $c-bg;
    left: 0;
    top: rem(110);
    @include full-width;
    padding-block: rem(0) rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(10);
    height: calc(100vh - rem(100));
    overflow-y: scroll;
    z-index: 10;

    @include breakpoint(medium) {
      width: 25%;
      padding-inline: 2vw;
    }

    .search {
      position: sticky;
      top: 0;
      background-color: $c-bg;
      padding-block: rem(10) rem(20);
      display: flex;
      flex-direction: column;
      gap: rem(10);
      background-color: $c-bg;
      z-index: 10;  
    }

    a {
      font-size: rem(14);
      color: $c-text;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.open {
  background-color: $c-bg;
  backdrop-filter: none;
  border-bottom: none;
}